<div class="login">
    <h2>Adicione o carro</h2>
    <form action="add" method="POST">
        <label for="model">Modelo</label>
        <input type="text" name="model" >
        <label for="potencia">Potência</label>
        <input type="text" name="potencia">
        <label for="velMax">Velocidade Máxima em KM/H</label>
        <input type="number" name="velMax">
        <input type="submit" value="Cadastrar">

    </form>
</div>

