<div class="login">
    <h2>Entrar</h2>
    <form action="/login" method="POST">
        <label for="user">Usuário</label>
        <input type="text" name="user" >
        <label for="password">Senha</label>
        <input type="password" name="password">
        <label for="age">Idade</label>
        <input type="text", name="age" >
        <label for="email">Email</label>
        <input type="text"  name="email">
        <input type="submit" value="Entrar">

    </form>
</div>