<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <title>Carros</title>
</head>
<body>
    <header class="navbar">
        <div class="wrapper">
            
            <div class="menu">
            
                <ul>
                    <li><a href="/cars/all" class="menu-item">Carros</a></li>
                    <li><a href="/users/login" class="menu-item">Entrar</a></li>
                    <li><a href="/users/add" class="menu-item">Cadastro</a></li>
                    <li><a href="/users/all" class="menu-item">Usuários</a></li>
                    

                </ul>
            </div>
     </div>
    </header>
    <div class="container">

        {{{body}}}

    </div>
    <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>