<div class="login container card fs-3 p-2">
    <h2>Entrar</h2>
    <form action="login card p-2 mb-3" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input type="text" name="username"  class="form-control form-control-lg">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" name="password" class="form-control form-control-lg">
        </div>
        <input type="submit" value="Entrar" class="btn btn-primary btn-lg">
        
    </form>
</div>